.instructions-box {
	margin-top: 1%;
	width: 100%;
	padding: 1% 1%;
	border-radius: 16px;
	border: 3px solid rgb(151, 210, 61);
}

.procedure-message {
	font-size: 120%; 
}

.main {
	width: 85%;
	height: 85%;
}

.action-button {
	color: white;
	text-align: center;
	font-size: 120%;
	background-color: #288EC8;
	border-radius: 16px;
	padding: 10px 20px;
	border: none;
}

.action-button:hover {
	background-color: #A9A9A9;
}

.graph {
	margin-left: 7.5%;
}

.sidebar {
	background-color: #f1f1f1;
	height: 85%;
}

.line {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.option:hover {
	background-color: #555;
	color: white;
}
