.page {
	overflow-x: scroll;
}

.instructions-box {
	margin: auto;
	margin-top: 1%;
	width: 40%;
	padding: 1% 1%;
	border-radius: 16px;
	border: 3px solid rgb(151, 210, 61);
}

.procedure-message {
	font-size: 120%; 
}

.workspace { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main {
	width: 100%;
	height: 100%;
}

.action-button {
	color: white;
	text-align: center;
	font-size: 120%;
	background-color: #288EC8;
	border-radius: 16px;
	padding: 10px 20px;
	border: none;
}

.action-button:hover {
	background-color: #A9A9A9;
}

.sidebar {
	padding: 1% 1%;
	background-color: #f1f1f1;
	border-radius: 16px;
	border: 3px solid rgb(151, 210, 61);
	height: 100%;
}

.menu-title {
	box-shadow: 0px 1px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.line {
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
}

.option:hover {
	background-color: #555;
	color: white;
}

.slider {
	width: 80%;
}

.input-form {
	display: none;
	color: black;
}

.apparatus {
	width: 20%;
	margin-left: 2.5%;
	order: 1;
}

.add {
	font-size: 90%;
}

.simulation {
	order: 2;
}

.observations {
	width: 20%;
	margin-right: 2.5%;
	order: 3;
}

@media screen and (max-width: 700px) {
	.instructions-box {
		width: 90%;
	}

	.workspace {
		flex-wrap: wrap;
	}

	.apparatus {
		order: 1;
		width: 40%;
		margin-left: 7.5%;
	}

	.simulation {
		order: 3;
		width: 100%;
	}

	.observations {
		order: 2;
		width: 40%;
		margin-right: 7.5%;
	}
}
